html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#degrade{

  margin:0px;
  height:100vh;
  
}

.titre1 {
  color:white;
  font-size: 55px;
  font-weight: 900;
  font-family: 'Muli', sans-serif !important;
  display: block;
  margin-block-start: 180px;
  margin-inline-start: 30px;
  font-weight: bold;
  text-align: center;
    width: auto;
  margin: auto;
}
