  /*Couleur principale du projet : #5a4fcf*/

  /* Définition basique des attributs css du body */

@import url(https://fonts.googleapis.com/css?family=Lato);

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(0,0,0);
  background: linear-gradient(156deg, rgba(0,0,0,1) 0%, rgba(10,0,15,1) 100%);
  opacity: 0;
  transition: opacity 10s;


}

  /* Même chose, on utilise la grid pour faciliter l'usage d'élements css sticky et scroll behavior sera utilisé pour les nav bar */
html,body{
    
  display: grid;
  height: 100%;
  scroll-behavior: smooth;
}

.nav-bar{
    position:fixed;
    right:0;
    z-index:99;
    
}

 ul {
     padding-top:10px;
	 display: flex;
	 flex-direction: row;
	 align-items: start;
	 list-style-type: none;
	 margin: 0 0 3px 0;
}
 ul li {
	 padding: 6px 10px;
}
 ul li a {
	 position: relative;
	 display: block;
	 padding: 4px 0;
	 font-family: Lato, sans-serif;
	 color: #ecf0f1;
	 text-decoration: none;
	 text-transform: uppercase;
	 transition: 0.5s;
}
 ul li a::after {
	 position: absolute;
	 content: "";
	 top: 100%;
	 left: 0;
	 width: 100%;
	 height: 3px;
	 background: #5a4fcf;
	 transform: scaleX(0);
	 transform-origin: right;
	 transition: transform 0.5s;
}
 ul li a:hover {
	 color: #95a5a6;
}
 ul li a:hover::after {
	 transform: scaleX(1);
	 transform-origin: right;
}
 

.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    width:150px;
    height:auto;
}


.checkbox{
    
  height: 40px;
  width: 270px;
  padding: 5px;
  display: flex;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  justify-content: space-between;
  position:fixed;
  bottom:0;
  right:0;
}

.checkbox input{

  outline: none;
  height: 20px;
  width: 45px;
  border-radius: 50px;
  left:10px;
  -webkit-appearance: none;
  position: relative;
  background: #e6e6e6;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.checkbox input:checked{

  background: #5a4fcf;
}

.checkbox input:before{
    
  position: absolute;
  content: "";
  left: 2px;
  height: 100%;
  width: 20px;
  background: linear-gradient(#fff,#f2f2f2,#e6e6e6,#d9d9d9);
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  border-radius: 50px;
  transform: scale(0.85);
  transition: left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:checked:before{
    
  left: 25px;
}

.texte:before{

  content: "Activer le mode honnête";
  font-size: 16px;
  color: #bfbfbf;
  position: relative;
  left:-25px;
}


input:checked ~ .texte:before{

  color: #5a4fcf;
  font-size: 16px;
  content: "Mode honnête activé ;)";
}

.menu-titre-h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 75px;
  font-weight: 900;
  font-family: 'Muli', sans-serif !important;
  display: block;
  text-align: center;
}

span.experience{
    opacity: 0.8;
    font-size:40px;
}

.menu-titre-h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.menu-titre-h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-titre-h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(245, 57%, 56%);
  z-index: -1;
  transition: transform .3s ease;
  opacity: 0.7;
}

.titre1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Muli', sans-serif !important;
  display: block;
  text-align: center;
}

span.epilepsie{
    color:red;
    font-size:80%;
    font-weight: 100;
    opacity: 0.4;
    
    
}

.menu-background-img{
    height:80vh;
    width:inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    opacity: 0.3;
}

.part2-titre {
  position: relative;
  color:white;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Muli', sans-serif !important;
  display: block;
  text-align: center;
    padding-top:15px;

}

.part2-texte{
      position: relative;
    color:dimgray;
      font-size: 20px;
      font-weight: 500;
      font-family: 'Muli', sans-serif !important;
      display: block;
      text-align: center;
    padding-top:15px;
    
}



.p3-ligne {
    padding-left: 200px;
    display: table;
    border-spacing: 40px; /*Optional*/
    height: auto;
    

    
}
#p3-col {
    display: table-cell;
    background-color: black;
    height:300px;
    width:450px;
    
}

#p3-col:hover .p3-img{
     opacity: 1;
    
}

.p3-img{
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    opacity: 0.4;
}

.p3-texte-inter{
    color:white;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size:20px;
    font-weight: 900;
    padding: 10px;
}

#p4-text{
    color:white;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size:50px;
    font-weight: 900;
    padding: 10px;
}

#p4-text2{
    color:white;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size:30px;
    font-weight: 900;
    padding: 10px;
    opacity: 0.6;
}

#p4-img{
    position:relative;
    display: block;
  width: 40%;


    bottom: 0px;
    
}

#p5-text{
    color:black;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size:20px;
    font-weight: 500;
    opacity: 0.6;
}

#p5-titre{
    color:black;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size:40px;
    font-weight: 900;
    padding: 10px;
}

#p6-text{
    color:black;
    text-align: center;
    font-size:35px;
    font-weight: 300;
    opacity: 0.6;
    padding:25px;
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#p6-titre{
    color:black;
    text-align: center;
    font-size:45px;
    font-weight: 900;
    padding-top: 100px;
    padding-bottom: 30px;
}

#p6-img{
    width:1100px;
    height:auto;
    
}